<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning words | <%= user.username %></title>
    <link rel="stylesheet" href="/style/profile.css">
</head>
<body>
    <main class="wrapper">
        <header class="header">
            <div class="header__info-btn">
                <div></div>
            </div>
            <div class="header__profile-label">Profile</div>
        </header>
        <section class="content">
            <aside class="profile-info">
                <div class="info-block profile-info__username-block">
                    <div>Username</div>
                    <div class="username">
                        <span><%= user.username %></span>
                        <div class="edit-btn"><img src="/img/edit.png" alt="Edit"/></div>
                    </div>
                    <div class="edit-block profile-info__edit-username hide">
                        <div class="input-block">
                            <input type="text">
                            <div class="save-btn"><img src="/img/tick.png" alt="Save"/></div>
                            <div class="cancel-btn"><img src="/img/cross.png" alt="Cancel"/></div>    
                        </div>
                    </div>
                </div>
                <div class="info-block profile-info__userId-block">
                    <div>ID</div>
                    <div class="userId">
                        <span><%= user.userId %></span>
                        <div class="edit-btn"><img src="/img/edit.png" alt="Edit"/></div>
                    </div>
                    <div class="edit-block profile-info__edit-username hide">
                        <div class="input-block">
                            <input type="text">
                            <div class="save-btn"><img src="/img/tick.png" alt="Save"/></div>
                            <div class="cancel-btn"><img src="/img/cross.png" alt="Cancel"/></div>    
                        </div>
                    </div>
                </div>
                <div class="info-block profile-info__email-block">
                    <div>Email</div>
                    <div class="email">
                        <span><%= user.email %></span>
                        <div class="edit-btn"><img src="/img/edit.png" alt="Edit"/></div>
                    </div>
                    <div class="edit-block profile-info__edit-username hide">
                        <div class="input-block">
                            <input type="text">
                            <div class="save-btn"><img src="/img/tick.png" alt="Save"/></div>
                            <div class="cancel-btn"><img src="/img/cross.png" alt="Cancel"/></div>    
                        </div>
                    </div>
                </div>
                <div class="info-block profile-info__password-block">
                    <div class="password">
                        <span>Change password</span>
                        <div class="edit-btn"><img src="/img/edit.png" alt="Edit"/></div>
                    </div>
                </div>
                <div id="log-out-btn">Log out</div>
                <div id="delete-account-btn">Delete account</div>
            </aside>
            <section id="search-groups">
                <div>
                    <input type="text">
                    <div id="search-groups-btn"></div>
                </div>
            </section>
            <section class="favourite-groups">
                <header class="favourite-groups__header">
                    <div class="favourite-groups__icon"><img src="/img/star.png" alt="Favourite"></div>
                    <div class="favourite-groups__label">Favourite groups</div>
                    <div class="new-group-btn"><img src="/img/plus.png" alt="New group">New group</div>
                </header>
                <div class="favourite-groups__groups"></div>
            </section>
            <section class="groups">
                <header class="groups__header">
                    <div class="groups__icon"><img src="/img/archive.png" alt="Groups"></div>
                    <div class="groups__label">Groups</div>
                    <div class="new-group-btn"><img src="/img/plus.png" alt="New group">New group</div>
                </header>
                <div class="groups__groups"></div>
            </section>
        </section>
    </main>
    <script src="/script/profile.js" type="module"></script>
</body>
</html>