<section id="view-group">
    <link rel="stylesheet" href="/style/view-group.css">
    <header>
        <section>
            <div class="back"><img src="/img/round-arrow.png" alt="Back"></div>
            <div class="group-name"><%= name %></div>
            <div class="change-group-name">
                <img src="/img/edit.png" alt="Edit">
                <span>Change name</span>
            </div>
        </section>
        <section>
            <div class="change-status">
                <div class="star-icon <%= isFavourite === true ? "crossed-out" : "" %>"></div>
                <span>
                    <%= isFavourite === false ? "Add to favourites" : "Remove from favourites" %>
                </span>
            </div>
            <div class="new-word">
                <img src="/img/plus.png" alt="New word">
                <span>Add new word</span>
            </div>
            <div class="delete-group">
                <img src="/img/trash-can.png" alt="Delete group">
                <span>Delete group</span>
            </div>
        </section>
    </header>
    <section class="additional-section">
        <div class="delete-words">
            <img src="/img/trash-can.png" alt="Delete words">
            <span>Delete words</span>
        </div>
    </section>
    <main class="words-section loading"></main>
</section>