<section id="view-group" class="hide">
    <link rel="stylesheet" href="/style/view-group.css">
    <header>
        <section>
            <div class="back"><img src="/img/round-arrow.png" alt="Back"></div>
            <div class="group-name"><%= name %></div>
            <div class="change-group-name">
                <img src="/img/edit.png" alt="Edit">
                <span>Change name</span>
            </div>
        </section>
        <section>
            <div class="new-word">
                <img src="/img/plus.png" alt="New word">
                <span>Add new word</span>
            </div>
            <div class="delete-group">
                <img src="/img/trash-can.png" alt="Delete group">
                <span>Delete group</span>
            </div>
            <div class="change-status">
                <div class="star-icon <%= isFavourite === true ? "crossed-out" : "" %>"></div>
                <span>
                    <%= isFavourite === false ? "Add to favourites" : "Remove from favourites" %>
                </span>
            </div>
            <div class="change-sort-order">
                <img src="/img/sorting.png" alt="Change sort order">
                <span>Change sort order</span>
            </div>
        </section>
    </header>
    <section class="additional-section">
        <div class="selection">
            <img src="/img/checklist-ticks.png" alt="Selection">
            <span>Select all</span>
        </div>
        <div class="change-display">
            <img src="/img/eye.png" alt="Hide word or translation">
            <span>Hide word/translation</span>
            <div class="select-display">
                <div class="select-display__word">
                    <span>Hide word</span>
                    <div class="checkbox">
                        <input type="checkbox" id="checkbox-for-word">
                        <label for="checkbox-for-word" class="switch"><span class="slider"></span></label>
                    </div>
                </div>
                <div class="select-display__translation">
                    <span>Hide translation</span>
                    <div class="checkbox">
                        <input type="checkbox" id="checkbox-for-translation">
                        <label for="checkbox-for-translation" class="switch"><span class="slider"></span></label>
                    </div>
                </div>
                <div class="select-display__btns">
                    <div class="select-display__btns__apply">Apply</div>
                    <div class="select-display__btns__cancel">Cancel</div>
                </div>
            </div>
            
        </div>
        <div class="copy-words-to-another-group">
            <img src="/img/share.png" alt="Copy words to another group">
            <span>Copy words to another group</span>
        </div>
        <div class="training">
            <img src="/img/target.png" alt="Training">
            <span>Training</span>
        </div>
        <div class="delete-words">
            <img src="/img/trash-can.png" alt="Delete words">
            <span>Delete words</span>
        </div>
    </section>
    <main class="words-section loading"></main>
</section>