@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html, body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 100vh;
  font: 20px "Calibri", sans-serif;
  /*
  font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1200 - 320)));
  ↑ На экране шириной 320 пикселей шрифт имеет размер 16 пикселей, 
  а на экране шириной 1200 пикселей – размер 24 пикселя. */
}

.header {
  width: 100%;
  height: 50px;
  color: white;
  background-color: dodgerblue;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header > .header__profile-label {
  font-size: 28px;
  height: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header__info-btn {
  position: relative;
  z-index: 3;
  display: inline-flex;
  width: 50px;
  height: 50px;
  border: 1px solid blue;
  cursor: pointer;
}
.header__info-btn::before, .header__info-btn::after, .header__info-btn > div {
  content: "";
  position: absolute;
  left: 50%;
  width: 75%;
  height: 10%;
  background-color: white;
  transform-origin: center center;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  transition: all 0.5s ease;
}
.header__info-btn::before {
  top: 25%;
}
.header__info-btn > div {
  top: 50%;
}
.header__info-btn::after {
  top: 75%;
}
.header__info-btn.active::before {
  top: 50%;
  transform: translate(-50%, -50%) rotateZ(45deg);
}
.header__info-btn.active > div {
  opacity: 0;
}
.header__info-btn.active::after {
  top: 50%;
  transform: translate(-50%, -50%) rotateZ(-45deg);
}

.content {
  position: relative;
  background-color: lightblue;
  flex: 1 1 100%;
}

.profile-info {
  position: absolute;
  max-width: 100vw;
  padding: 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: inset 0 0 7px 3px rgba(0, 0, 0, 0.5);
  transform: translateX(-100%);
  transition: all 0.5s ease;
  border-radius: 0 30px 30px 0;
}
.profile-info.active {
  transform: translateX(0);
}

.info-block {
  display: flex;
  width: 246px;
  flex-direction: column;
  justify-content: center;
  padding: 10px 5px;
  margin-bottom: 5px;
  border: 3px solid lightgray;
  border-radius: 10px;
}
.info-block > .username, .info-block .userId, .info-block .email {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
  max-width: 100vw;
}
.info-block > .username > span, .info-block .userId > span, .info-block .email > span {
  display: block;
  max-width: 80%;
  word-wrap: break-word;
}
.info-block .edit-btn, .info-block .save-btn, .info-block .cancel-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: dodgerblue;
  border-radius: 5px;
  margin-left: 10px;
}
.info-block .edit-btn > img, .info-block .save-btn > img, .info-block .cancel-btn > img {
  max-width: 100%;
}
.info-block > .edit-block {
  display: none;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}
.info-block > .edit-block > input {
  font: inherit;
  display: block;
  width: 150px;
  border: 1px solid gray;
  border-radius: 5px;
}
.info-block > .edit-block > .save-btn {
  background-color: limegreen;
}
.info-block > .edit-block > .save-btn > img {
  max-width: 80%;
}
.info-block > .edit-block > .cancel-btn {
  background-color: red;
}