@import "./null-style.scss";
@import "./modal-window.scss";

html, body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;// for correct display of overflowing content
}
body {
    height: 100vh;// for correct display of overflowing content
    overflow: auto;// for correct display of overflowing content
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  min-height: 100vh;
//   padding: 20px;
//   background-color: #dfdfdf;
//   justify-content: flex-start;
//   align-items: center;
  font: 20px "Calibri", sans-serif;
  /*
  font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1200 - 320)));
  ↑ На экране шириной 320 пикселей шрифт имеет размер 16 пикселей, 
  а на экране шириной 1200 пикселей – размер 24 пикселя. */
}
.header {
    width: 100%;
    height: 50px;
    color: white;
    background-color: dodgerblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    & > .header__profile-label{
        font-size: 28px;
        height: 100%;
        padding: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}
.header__info-btn {
    position: relative;
    z-index: 3;
    display: inline-flex;
    // justify-content: center;
    // align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    &::before, &::after, & > div {
        content: '';
        position: absolute;
        left: 50%;
        width: 75%;
        height: 10%;
        background-color: white;
        transform-origin: center center;
        transform: translate(-50%, -50%);
        border-radius: 5px;
        transition: all 0.5s ease;
    }
    &::before{
        top: 25%;
    }
    & > div {
        top: 50%;
    }
    &::after {
        top: 75%;
    }
    &.active{
        &::before {
            top: 50%;
            transform: translate(-50%, -50%) rotateZ(45deg);
        }
        & > div {
            opacity: 0;
        }
        &::after{
            top: 50%;
            transform: translate(-50%, -50%) rotateZ(-45deg);
        }
    }
}
.content{
    position: relative;
    background-color: lightblue;
    flex: 1 1 auto;
}
.profile-info {
    z-index: 7;
    position: absolute;
    // width: 100%;
    max-width: 100vw;
    padding: 40px;
    // height: max-content;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    // flex: 1 1 max-content;
    background-color: white;
    border: 3px solid gray;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    border-radius: 0 30px 30px 0;
    &.active {
        transform: translateX(0);
    }
    // ↓ for centring elements in .profile-info
    & > :first-child {
        margin-top: auto;
    }
    & > :last-child {
        margin-bottom: auto;
    }
    // ↑ https://bhch.github.io/posts/2021/04/centring-flex-items-and-allowing-overflow-scroll/
}
.info-block {
    display: flex;
    width: 246px;
    // ↑ .info-block's border*2 + .info-block's padding*2 + input + save and cancel buttons and their margins
    // ↑ 3*2 + 5*2 + 150 + 30 + 10 + 30 + 10
    flex-direction: column;
    justify-content: center;
    padding: 0px 5px 5px 5px;
    margin-bottom: 5px;
    // &:last-of-type{
    //     margin-bottom: 0;
    // }
    border: 1.5px solid lightgray;
    border-radius: 10px;
    // min-height: 200px;
    & > div:first-of-type{
        width: 100%;
        text-align: center;
        color: gray;
        font-size: 14px;
    }
    & > .username, & > .userId, & > .email, & > .password {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 100vw;
        & > span {
            display: block;
            max-width: 80%;
            word-wrap: break-word;
        }
    }
    // align-items: center;
    & .edit-btn, & .save-btn, & .cancel-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background-color: dodgerblue;
        border-radius: 5px;
        margin-left: 10px;
        & > img {
            max-width: 100%;
        }
    }
    & > div.password {
        // display: flex;
        // flex-direction: row;
        font: inherit; color: inherit;
        margin-top: 5px;
        // & > span {

        // }
    }
    & > .edit-block {
        // display: none;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        margin-top: 10px;
        & > .input-block {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: center;
            & > input {
                font: inherit;
                display: block;
                width: 150px;
                border: 1px solid gray;
                border-radius: 5px;
                padding: 0 3px;
            }
            & > .save-btn {
                background-color: limegreen;
                & > img {
                    max-width: 80%;
                }
            }
            & > .cancel-btn {
                background-color: red;
            }
        }
        & > .warning{
            font-style: normal;
            display: inline-block;
            font-size: 14px;
            color: red;
            text-align: left;
            word-wrap: break-word;
        }
    }
}

#log-out-btn, #delete-account-btn{
    // display: flex;
    // justify-content: center;
    // align-items: center;
    background-color: dodgerblue;
    color: white;
    border-radius: 3px;
    // padding: 0px 5px 3px 5px;
    padding: 1.5px 5px 3px 5px;
    margin-bottom: 5px;
}
#delete-account-btn {
    background-color: red;
    margin-bottom: auto;// for centring elements in .profile-info
}
#search-groups {
    width: 100%;
    padding: 7px;
    background-color: lightslategray;
    // margin: 0 2.5px 5px;
    & > div {
        width: 100%;
        height: 30px;
        display: flex;
        flex-direction: row;
        border-radius: 5px;
        overflow: hidden;// to display border-radius
        & > input {
            width: 100%;
            height: 100%;
            font: inherit;
            padding: 0 3px;
        }
        & > #search-groups-btn {
            width: 40px;
            height: 100%;
            background: no-repeat center center / auto 95% url("/img/search.png") dodgerblue;
            &.cancel {
                background-image: url("/img/cross.png");
            }
        }
    }
    
}
.favourite-groups, .groups {
    width: 100%;
    display: flex;
    flex-direction: column;
    & > *[class*="header"] {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        // height: 50px;
        min-height: fit-content;
        background-color: #00CF41;
        border: 3px solid #29A63C;
        color: white;
        & > *[class*="groups__icon"] {
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            // justify-content: center;
            // align-items: center;
            transform: translateX(15%) scale(1.25);
            background-color: lime;
            box-shadow: inset 0 0 3px 1px #2A8C43;
            // border: 5px solid #;
            & > img {
                // display: block;
                max-height: 80%;
                margin: auto;
            }
        }
        & > *[class*="groups__label"] {
            width: 43%;
            // height: 80px;
            margin-left: 20px;
            // margin: 3px 0 3px 15px;
            font-size: 24px;
        }
        & > .new-group-btn {
            height: 45px;
            width: max-content;
            background-color: lime;
            border-radius: 5px;
            // border: 3px solid forestgreen;
            position: absolute;
            top: 50%; left: 100%;
            transform: translate(-103%, -50%);
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            // margin-right: 13px;
            padding-right: 5px;
            & > img {
                max-height: 90%;
            }
        }
    }
    & > .groups__header {
        background-color: deepskyblue;
        border: 3px solid dodgerblue;
        // padding: 0 5px;
        & > .groups__icon {
            background-color: deepskyblue;
            box-shadow: inset 0 0 3px 1px royalblue;
            
            
        }
        
    }
    
    & > *[class*="groups__groups"] {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        padding: 5px;
        background-color: white;
        & > .group {
            border: 1px solid #000;
            border-radius: 3px;
            padding: 1px 3px;
            margin: 3px;
        }
        & > .loading {
            display: inline-block;
            margin: auto;
            height: 50px;
            max-height: 100%;
        }
    }
}

.hide {
    display: none !important;
}

@media (max-width: 310px) {
    .favourite-groups, .groups {
        & > *[class*="header"] > *[class*="groups__label"] {
            display: none;
        }
    }
}

@media (max-width: 1200px) {
  /* Стили CSS для ширины от 992px до 1200px */
  /* Устройства со средним экраном (ноутбуки и компьютеры)*/

}
@media (max-width: 992px) {
  /* Стили CSS для ширины от 768px до 992px */
  /* Устроства с маленьким экраном (планшеты) */
}
@media (max-width: 767px) {
  /* Стили CSS для ширины до 768px */
  /* Устройства с очень маленьким экраном (смартфоны) */
  
}

